.container {
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    background-color: chocolate;
    padding: 10px;
  }
  
  .poster {
    max-width: 200px;
    max-height: 350px;
  }
  
  .titelinfo {
    flex-grow: 1;
    padding: 15px;
  }